language: rust
dist: trusty
rust:
  - stable
  - beta
  - nightly
os:
  - linux
  - osx
matrix:
  allow_failures:
  - rust: nightly
script: 
  - $TRAVIS_BUILD_DIR/.travis/build.sh
deploy:
  skip_cleanup: true
  provider: script
  script: ./target/debug/factotum run .travis/deploy/deploy.factfile
  on:
    tags: true
env:
  global:
  - secure: cqb1OSopo5lo0vD2PGzjqhZ3Ku7jBl//qRaOR1tqRNRvGYeU4sXpqh0g9UC0EB+tHWLvhotLYlZMNVMN4Fbqa/PVT79jo66DrEDrMcx5Attk7cITjXZQsIlEUCuEGxPJqNuLv5JAFO4b4o3LQIhgVhagEvafvh7mpyrHAq/u8DeBZjqQFEEjfzZ6p+7YyDduZrwwcON3Ipq0nZ7XBZhqAhy/93n5NWOtGv6yXVJ+t643k+OmqvFIWpvytKx9pi63s/QU30uu3VRgBAyAxn66wc3Y8lT4Vjn6RDMajLwoV+5NxV6oIo/ih1xVHiP6lknMwaPncBaQF5KcL3t1KnozGozhL0lbN4GFRC73DsKX1m/eJOFh40XmD/5q7ClVXmELFE6aJyLIh0M/xhacOyudMS+QXTviD54y58fE7wOPEtyAe3ITIBooRUlBCfr6ezWhPtMR3H3QXhqTg39rMCIFReLLD/yUK7LBqrWlwRtWvcJLwzNwMJ1U6PlR+Kc8GrPCUwrPSdrZe3nAXV8RgCs4Pw1Osz1U0F9G+lZFwSOIls/AR6yhudiLu0Sx0e+KvDeVjK+JokqPe4oj9jLxvn/Og3I/ku++96F2d/Wv6MaLI+KsDZiCPzWE6HpFTYmVkAc/4QQwKjs/YsjzSY4wsUf1neboGHVzR0ioO+yO3CCq7cE=
  - secure: VFjLGez/gPkKvgV0SekgxL3Ws2Z/nd97IM7GmZUpyUutesqefopw49N4uas97t1DQ1Oz2U3yLAE3lnK8ivf7A2nLLoxNdo5fldjsFP/Ugfybg294zV/7V42nmZ6evw9q7DBzEUzb2595m+iJggcEr9rxINXfRO81vdczRwnmOLPkiM33RCmYPH0h0E6xxTcDcvAXpAQ0ubcg8Rvy8TdxFqQPzxiM8IWYuoYa6p7eazCvrBs2D12suhp3j6jMFRTIhOo4hZ5RawGCvH2jD/52y2DVMOgJ/Ha9MK+MAl7irxPjRSC+towfRF1iOJt8XdklL4QLF4F1948/m1SCp5BIfmM1ANkIDkaEDwoTac7HQT9o4G5fQN8TC6FFJjLBDqzGOOzQlDILafG3pQv6ZnAAgHAXEKI/kIXOHX1BwFQ65FRsFGw0+qhEwOb5zeVNzWhTfgZ6Y47LYmnjeVu8hHwVot5TsYBcx1bX+uQsxe2Si6MDN0OT5Sr1X7Z5sodja+YDedkIfmqXRv59IX9oxiFQLt6ZR0igRzb7ElgvuxOFuHyx6Z5ZhFUg95E5x4cURrZCqT1uzVapT8JLcZRv0xaNg2nmss/j3Vrku4hL1tzSCL2DT0GpG9RqXbetbVXKwZAlYO+5OYQCvmaKKx5dMPpwF/JcKqAZ+JvJnUwX6TLBTnQ=
